<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::head('Devmaster::Liên hệ')">
    <title></title>
</head>
<body>
    <header th:replace="fragments/layout::header"></header>
    <section class="container" style="min-height: 268px">
        <div class="row">
            <h1>Đây là trang giới thiệu</h1>
            <hr>
            <h3>VIỆN CÔNG NGHỆ VÀ ĐÀO TẠO DEVMASTER</h3>
            <p>Đơn vị tiên phong trong đào tạo kỹ năng CNTT</p>
        </div>
    </section>
    <footer th:replace="fragments/layout::footer"></footer>
</body>
</html>