<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::head('Devmaster::Liên hệ')">
    <title></title>
</head>
<body>
    <header th:replace="fragments/layout::header"></header>
    <section class="container" style="min-height: 268px">
        <div class="row">
            <h1>Đây là trang liên hệ</h1>
            <hr>
            <p>Tầng 6, Tòa <b>VIỆN CÔNG NGHỆ</b></p>
            <p>Số 25, Phố Vũ Ngọc Phan, Láng Hạ, Đống Đa, Hà Nội</p>
        </div>
    </section>
    <footer th:replace="fragments/layout::footer"></footer>
</body>
</html>